.list__show {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    padding: 10px;
}
.show {
    display: flex;
    height: 231px;
}

.show:hover {
    background-color: #cccccc;
}

.show:nth-child(odd){
    flex-direction: row;
}

.show:nth-child(even){
    flex-direction: row-reverse;
}

.show__info {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    padding: 10px;
    align-items: flex-start;
    border: 2px solid #2b1c7a;
    justify-content: center;
    width: 100%;
}


.show__name {
    font-weight: bold;
}

.show__desc {
    text-align: start;
    overflow: scroll;
}

.link {
    display: block;
}

a:link {
    color: black;
    text-decoration: none;
}

a:visited {
    color: black;
}

@media (max-width : 450px){
    .show__info {
        row-gap: 10px;
        padding: 5px;
    }
    .list__show {
        display: flex;
        flex-direction: column;
        row-gap: 10px;
        padding: 10px;
    }
    .list__show {
        row-gap: 5px;
        padding: 5px;
    }
}