html,body {
    margin : 0;
    height: 100%;
    background: #a6a6a6;

}

body{
    display : flex;
    flex-flow: column nowrap;
    margin-right: auto;
    margin-left:auto;
}

.content{
    display: flex;
    flex-direction: column;
    height : 80%;
    overflow: scroll;
    scrollbar-width: auto;
}

.footer,.header,.content,.menu{
    border : 2px solid rgb(222,222,222);
    margin : 8px;
    text-align: center;
    background: white;
}

form {
    align-self: center;
    display: flex;
    flex-direction: column;
    width: 280px;
    row-gap: 10px;
}

form label {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: start;
}

@media (max-width: 450px){
    h1{
        font-size: 20px;
    }
    .footer,.header,.content,.menu{
        margin : 4px;
    }
    .footer,.menu{
        margin-top : 0;
    }
    .menu{
        margin-bottom:0;
    }
    .content{
        font-size: 12px;
    }
}


